@font-face {
    font-family: 'CenturyGothicBold';
    src: url('/fonts/ufonts.com_century_gothic_bold__2_.eot');
    src: url('/fonts/ufonts.com_century_gothic_bold__2_.eot?#iefix') format('embedded-opentype'),
         url('/fonts/ufonts.com_century-gothic-bold.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;

}

body{
	background-color:#ffffff;
	text-align:center;
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	font-family:Comic Sans MS;
	color:#000000;
}
h4 {
	font-family:Comic Sans MS;
	background-color:ff0000;
	font-size:15px;

}
a  img{
	
	padding:0px;
	margin:0px;
	text-decoration:none;
}
a{
 text-decoration:none;
}
img{
	margin:0px;
	padding:0px;
	
}
/** Utils **/
.clear{
	clear:both;
}
.blur{
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);

}
/**  Layout **/

.mainContainer{
	width: 100%;
	height:100%;
	display:block;
	margin: 0px auto;
}

.header{
	width:100%;
	background-color: #c5142e;
	font-size:20px;
	text-align:left;
}
.logoContainer{
	margin: 0px;
	padding: 10px 25px;
}
.logoContainer img{
	width:120px;
}
.content{
	width:100%;
	font-family:Comic Sans MS;
	text-align:center;
}
.content img{
 max-width:100%;
}
.footer{
	width:100%;
}
.referenceLink{
	color:#ffffff;
	font-size: 14px;
	text-align: right;
	float: right;
	padding-top: 10px;
}
/** Home page **/

.imageHomeItem{
	margin:0px auto;
	width:80%;
	display:block;
	position:relative;
	text-align:center;
	margin: 25px auto 25px;
}

.linkHomeItemContainer{
	position:relative;
	display: inline-block;
	margin: 0px auto;
}
.imageHomeItem img{
	width:100%;
}
.imageHomeItem img:first-child{
	padding: 5px 12px;
	width: 809px;
  
}
  
.imageHomeItem img.layer{
	position:absolute;
	top:0px;
	left:0px;
	box-shadow: 5px 5px 1px #888888;
}

/** Reference **/
#Reference{
	margin: 0px auto
	display:inline-block;
}
#Reference img{
	width:50%;
}
#Reference h2{
	margin-bottom: 5px;
}
#Reference h3{
	text-align: left;
	width:50%;
	display: inline-block;
	color: #c5142e;
}
.lArticleContainer{
	text-align: right;
	width:50%;
	margin: 0px auto;
	font-size: 12px;
}

/*** ***/
.WebSiteFirstItem{
	margin:35px auto 35px;
	width:60%;
	display:block;

}
.imageHomeItemMob{
	margin:25px auto 25px;
	width:60%;
	display:block;
}
.imageHomeItemMob img{
	margin:25px auto 25px;
	max-width:350px;
	display:block;
}

.interactionImage{
	display:block;
	width:90%;
	margin:auto;
}
.MobileSiteFirstItem{
	display:block;
	width:90%;
	margin:auto;
}
.MobileSiteFirstItem img{
	width:350px;
	margin:auto;
}

.interactionVideoContainer{
	display:none;
}
.interactionImage img{
	display:block;
}
.hiddenCommentary{
	display:none;
}

.qtip{
max-width:600px;
}
.interactionImageContainer{
	padding-bottom:15px;
}
.interactionImageContainer p{
	padding: 10px 0px 10px;
}
.interactionParagraph{
	font-family:Comic Sans MS;
	text-align:left;
	width:90%;
	margin:auto;
	
}
.interactionParagraph > span{
	background-color:#ff0000;
	font-family:Comic Sans MS;
	width:auto;
	color: #ffffff;
	font-size: 15px;
	padding:2px;
}

.interactionImageContainer .layer{
	position:absolute;
	right:0px;
	top:0px;
	z-index:150;
	display:none;
	
}
.chulakovLink{
	position:relative;
	display:block;
	margin:0px;
	padding:0px;
}
.layerButtonContainer a{
	padding-left:40px;
	background-image:url('/images/design/eyeIcon1.png');
	background-position: -35px 0px;
	background-repeat:no-repeat;
}
.layerButtonContainer a.selected{	
	background-position: 0px 0px;
}
