 <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>NXGallery</title>
</head>

<body ng-app>
<div class="mainContainer">
	<div class="header">
		<div class="logoContainer">
		<a href="/user/home">
		<img src="/images/logo1.png"/>
		</a>
		</div>
	</div>
	<div class="content">
	<div class="deviceButtons">
	<a href="/user/chulakov"><img src="/images/design/ComputerSelected.jpg"/></a>
	<a href="/user/chulakovMov"><img src="/images/design/Phone.jpg"/></a>
	
	</div>
	<div class="layerButtonContainer">
			<a href="#" class="eventLayerAll">Events All</a> | <a href="#" class="actionLayerAll">Actions All</a>
	</div>
		<div class="WebSiteFirstItem">
			<img src="/images/chulakov/web/1/screen1.0.jpg"/>
		</div>
		<div class="interactionImageContainer">
			<div class="interactionImage">
			<a class="chulakovLink" href="#1"><img src="/images/chulakov/web/1/1.0.jpg"	/></a>
			</div>
			<p class="interactionParagraph">
			<span>#BackgroundVideo</span><br/>
			This page presents a background video which shows some interaction in our website.
			</p>
		</div>
		<div class="interactionImageContainer">
			<div class="interactionImage">
				<div class="layerButtonContainer">
					<a href="#" class="eventLayer">Events</a> | <a href="#" class="actionLayer">Actions</a>
				</div>
				<a class="chulakovLink" href="#3"><img src="/images/chulakov/web/3/3.jpg"><img class="layerEvent layer" src="/images/chulakov/web/3/3.0.jpg"><img class="layerAction layer" src="/images/chulakov/web/3/3.1.jpg"></a>
			</div>
			<p class="interactionParagraph">
			<span>#IconAnimation</span><br/>
			We added some kind of effects to the hover event of some buttons to improve the look and feel.
			</p>
		</div>
		<div class="interactionImageContainer">
			<div class="interactionImage">
				<div class="layerButtonContainer">
				<a href="#" class="eventLayer">Events</a> | <a href="#" class="actionLayer">Actions</a>
				</div>
				<a class="chulakovLink" href="#4"><img src="/images/chulakov/web/4/4.jpg"/><img class="home layerEvent layer"  src="/images/chulakov/web/4/4.0.jpg"/><img class="layerAction layer" src="/images/chulakov/web/4/4.1.jpg"	/></a>
			</div>
			<p class="interactionParagraph">
			<span>#SlideEffect </span>&nbsp;<span>#LayerEffect</span><br/>
			We added slide effects to the transitions, when new items appear to improve the feeling of the user, when using our interface.
			We added the layers feeling to the transitions between web pages, to give an iphone navigation feeling.
			</p>
		</div>
		<div class="interactionImageContainer">
			<div class="interactionImage">
				<div class="layerButtonContainer">
				<a href="#" class="eventLayer">Events</a> | <a href="#" class="actionLayer">Actions</a>
				</div>
				<a class="chulakovLink" href="#5"><img src="/images/chulakov/web/5/5.jpg" /><img class="layerEvent layer" src="/images/chulakov/web/5/5.0.jpg" /><img class="layerAction layer" src="/images/chulakov/web/5/5.1.jpg" /></a>
			</div>
			<p class="interactionParagraph">
			<span>#SlideEffect </span>&nbsp;<span>#LayerEffect</span><br/>
			We added slide effects to the transitions, when new items appear to improve the feeling of the user, when using our interface.
			We added the layers feeling to the transitions between web pages, to give an iphone navigation feeling.
			</p>
		</div>
		<div class="interactionImageContainer">
			<div class="interactionImage">
				<div class="layerButtonContainer">
					<a href="#" class="eventLayer">Events</a>|<a href="#" class="actionLayer">Actions</a>
				</div>
				<a class="chulakovLink" href="#6"><img src="/images/chulakov/web/6/6.jpg"/><img class="layerEvent layer" src="/images/chulakov/web/6/6.0.jpg"/><img class="layerAction layer" src="/images/chulakov/web/6/6.1.jpg" /></a>
			</div>
			<p class="interactionParagraph">
			<span>#SlideEffect </span>&nbsp;<span>#LayerEffect</span><br/>
			We do this transitions even in the menu elements that are over the main page, following the logic of iphone navigation.
			</p>
		</div>
		<div class="interactionImageContainer">
			<div class="interactionImage">
				<div class="layerButtonContainer">
					<a href="#" class="eventLayer">Events</a>|<a href="#" class="actionLayer">Actions</a>
				</div>
				<a class="chulakovLink" href="#7"><img src="/images/chulakov/web/7/7.jpg"	/><img class="layerEvent layer" src="/images/chulakov/web/7/7.0.jpg"	/><img class="layerAction layer" src="/images/chulakov/web/7/7.1.jpg"	/></a>
			</div>
			<p class="interactionParagraph">
			<span>#SlideEffect</span> <span>#LayerEffect</span><br/>
			We do this transitions even in the menu elements that are over the main page, following the logic of iphone navigation.
			</p>
		</div>
		<div class="interactionImageContainer">
			<div class="interactionImage">
				<div class="layerButtonContainer">
					<a href="#" class="eventLayer">Events</a>|<a href="#" class="actionLayer">Actions</a>
				</div>
				<a class="chulakovLink" href="#8"><img src="/images/chulakov/web/8/8.jpg"	/><img class="layerEvent layer" src="/images/chulakov/web/8/8.0.jpg"	/><img class="layerAction layer" src="/images/chulakov/web/8/8.1.jpg"	/></a>
			</div>
			<p class="interactionParagraph">
			<span>#SlideEffect</span><br/>
			An slide effect, to show the different awards that we have received, the changement of colors help to notice the difference between the 
			awards that we have received.
			</p>
		</div>
		<div class="interactionImageContainer">
			<div class="interactionImage">
				<div class="layerButtonContainer">
					<a href="#" class="eventLayer">Events</a>|<a href="#" class="actionLayer">Actions</a>
				</div>
				<a class="chulakovLink" href="#9"><img src="/images/chulakov/web/9/9.jpg"	/><img class="layerEvent layer" src="/images/chulakov/web/9/9.0.jpg"	/><img class="layerAction layer" src="/images/chulakov/web/9/9.1.jpg"	/></a>
			</div>
			<p class="interactionParagraph">
				<span>#IconAnimation</span><br/>
				We added some kind of effects to the hover event of some buttons to improve the look and feel.
			</p>
		</div>
		<div class="interactionImageContainer">
			<div class="interactionImage">
				<div class="layerButtonContainer">
					<a href="#" class="eventLayer">Events</a>|<a href="#" class="actionLayer">Actions</a>
				</div>
				<a class="chulakovLink" href="#10"><img src="/images/chulakov/web/10/10.jpg"	/><img class="layerEvent layer" src="/images/chulakov/web/10/10.0.jpg"	/><img class="layerAction layer" src="/images/chulakov/web/10/10.1.jpg"	/></a>
			</div>
			<p class="interactionParagraph">
			<span>#IconAnimation</span>&nbsp;<span>#FadeEffect</span><br/>
			We added some kind of effects to the hover event of some buttons to improve the look and feel.
			We added the fade effect to show the hidden icons, with some seconds of delay.
			</p>
		</div>
		<div class="interactionImageContainer">
			<div class="interactionImage">
				<div class="layerButtonContainer">
					<a href="#" class="eventLayer">Events</a>|<a href="#" class="actionLayer">Actions</a>
				</div>
				<a class="chulakovLink" href="#11"><img src="/images/chulakov/web/11/11.jpg" /><img class="layerEvent layer" src="/images/chulakov/web/11/11.0.jpg"	/><img class="layerAction layer" src="/images/chulakov/web/11/11.1.jpg"	/></a>
			</div>
			<p class="interactionParagraph">
			<span>#SlideEffect </span>&nbsp;<span>#LayerEffect</span><br/>
			We added slide effects to the transitions, when new items appear to improve the feeling of the user, when using our interface.
			We added the layers feeling to the transitions between web pages, to give an iphone navigation feeling.
			</p>
		</div>
		<div class="interactionImageContainer">
		<div class="interactionImage">
				<div class="layerButtonContainer">
					<a href="#" class="eventLayer">Events</a>|<a href="#" class="actionLayer">Actions</a>
				</div>
			<a class="chulakovLink" href="#12"><img src="/images/chulakov/web/12/12.jpg"	/><img class="layerEvent layer" src="/images/chulakov/web/12/12.0.jpg"	/><img class="layerAction layer" src="/images/chulakov/web/12/12.1.jpg"	/>
		</a></div>
		
		<p class="interactionParagraph">
		<span>#IconAnimation</span><br/>
		We added some kind of effects to the hover event of some buttons to improve the look and feel.
		</p>
		</div>
		<div class="interactionImageContainer">
		<div class="interactionImage">
				<div class="layerButtonContainer">
					<a href="#" class="eventLayer">Events</a>|<a href="#" class="actionLayer">Actions</a>
				</div>
			<a class="chulakovLink" href="#13"><img src="/images/chulakov/web/13/13.jpg"	/><img class="layerEvent layer" src="/images/chulakov/web/13/13.0.jpg"	/><img class="layerAction layer" src="/images/chulakov/web/13/13.1.jpg"	/>
		</a>
		</div>
		
		<p class="interactionParagraph">
		<span>#SlideEffect</span> <span>#LayerEffect</span><br/>
		We do this transitions even in the menu elements that are over the main page, following the logic of iphone navigation.
		</p>
		</div>
		<div class="interactionImageContainer">
		<div class="interactionImage">
				<div class="layerButtonContainer">
					<a href="#" class="eventLayer">Events</a>|<a href="#" class="actionLayer">Actions</a>
				</div>
			<a class="chulakovLink" href="#14"><img src="/images/chulakov/web/14/14.jpg" /><img class="layerEvent layer" src="/images/chulakov/web/14/14.0.jpg"	/><img class="layerAction layer" src="/images/chulakov/web/14/14.1.jpg"	/>
		</a></div>
		<p class="interactionParagraph">
		<span>#SlideEffect</span>&nbsp;<span>#LayerEffect</span><br/>
		We do this transitions even in the menu elements that are over the main page, following the logic of iphone navigation.
		</p>
		</div>
		<div class="interactionImageContainer">
		<div class="interactionImage">
				<div class="layerButtonContainer">
					<a href="#" class="eventLayer">Events</a>|<a href="#" class="actionLayer">Actions</a>
				</div>
			<a class="chulakovLink" href="#15"><img src="/images/chulakov/web/15/15.jpg" /><img class="layerEvent layer" src="/images/chulakov/web/15/15.0.jpg"	/><img class="layerAction layer" src="/images/chulakov/web/15/15.1.jpg"/>
		</a></div>
		<p class="interactionParagraph">
		<span>#OpeningEffect</span>&nbsp;<span>#3DEffect</span>&nbsp;<span>#ZoomEffect</span>&nbsp;<span>#RepositioningEffect</span><br/>
		We do this transitions even in the menu elements that are over the main page, following the logic of iphone navigation.
		</p>
		</div>
		<div class="interactionImageContainer">
		<div class="interactionImage">
				<div class="layerButtonContainer">
					<a href="#" class="eventLayer">Events</a>|<a href="#" class="actionLayer">Actions</a>
				</div>
			<a class="chulakovLink" href="#16"><img src="/images/chulakov/web/16/16.jpg" /><img class="layerEvent layer" src="/images/chulakov/web/16/16.0.jpg"	/><img class="layerAction layer" src="/images/chulakov/web/16/16.1.jpg"/>
		</a></div>
		<p class="interactionParagraph">
		<span>#EnvelopEffect</span>&nbsp;<span>#PlaneEffect</span>&nbsp;<span>#SlideEffect</span>&nbsp;<span>#2DNavigation</span><br/>
		We show the different section of our website.<br/>
		We created an EnvelopEffect to show the sections of the website.<br/>
		We use the slide effect meanwhile the envelop effect is starting.
		</p>
		</div>
		<div class="interactionImageContainer">
		<div class="interactionImage">
				<div class="layerButtonContainer">
					<a href="#" class="eventLayer">Events</a>|<a href="#" class="actionLayer">Actions</a>
				</div>
			<a class="chulakovLink" href="#17"><img src="/images/chulakov/web/17/17.jpg" /><img class="layerEvent layer" src="/images/chulakov/web/17/17.0.jpg"	/><img class="layerAction layer" src="/images/chulakov/web/17/17.1.jpg"	/>
		</a></div>
		
		<p class="interactionParagraph">
		<span>#EnvelopEffect</span>&nbsp;<span>#PlaneEffect</span>&nbsp;<span>#SlideEffect</span>&nbsp;<span>#2DNavigation</span><br/>
		We show the different section of our website.<br/>
		We created an EnvelopEffect to show the sections of the website.<br/>
		We use the slide effect meanwhile the envelop effect is starting.
		</p>
		</div>
		<div class="interactionImageContainer">
		<div class="interactionImage">
			<div class="layerButtonContainer">
					<a href="#" class="eventLayer">Events</a>|<a href="#" class="actionLayer">Actions</a>
			</div>
			<a class="chulakovLink" href="#18"><img src="/images/chulakov/web/18/18.jpg" /><img class="layerEvent layer" src="/images/chulakov/web/18/18.0.jpg"/><img class="layerAction layer" src="/images/chulakov/web/18/18.1.jpg"/>
		</a></div>
		<p class="interactionParagraph">
		<span>#EnvelopEffect</span>&nbsp;<span>#PlaneEffect</span>&nbsp;<span>#SlideEffect</span>&nbsp;<span>#2DNavigation</span>&nbsp;<span>#ZoomInEffect</span>&nbsp;<span>#HorizontalNavigation</span><br/>
		We show the different section of our website.<br/>
		We created an EnvelopEffect to show the sections of the website.<br/>
		We use the slide effect meanwhile the envelop effect is starting.<br/>
		We created a Zoom in effect to show the selected section.
		</p>
		</div>
		<div class="interactionImageContainer">
			<div class="interactionImage">
				<div class="layerButtonContainer">
					<a href="#" class="eventLayer">Events</a>|<a href="#" class="actionLayer">Actions</a>
				</div>
				<a class="chulakovLink" href="#19"><img src="/images/chulakov/web/19/19.jpg" /><img class="layerEvent layer" src="/images/chulakov/web/19/19.0.jpg"	/><img class="layerAction layer" src="/images/chulakov/web/19/19.1.jpg"	/></a>
			</div>
			<p class="interactionParagraph">
			<span>#SlideEffect</span>&nbsp;<span>#LayerEffect</span>&nbsp;<span>#HorizontalNavigation</span><br/>
			We create a layer feeling with the layer effect.<br/>
			
			We use the slide effect meanwhile we change the page.<br/>
			
			</p>
		</div>
		<div class="interactionImageContainer">
			<div class="interactionImage">
				<div class="layerButtonContainer">
						<a href="#" class="eventLayer">Events</a>|<a href="#" class="actionLayer">Actions</a>
				</div>
				<a class="chulakovLink" href="#20"><img src="/images/chulakov/web/20/20.jpg" /><img class="layerEvent layer" src="/images/chulakov/web/20/20.0.jpg" /><img class="layerAction layer" src="/images/chulakov/web/20/20.1.jpg"	/></a>
			</div>
			<p class="interactionParagraph">
			<span>#LayerEffect</span>&nbsp;<span>#DragAndDrop</span>&nbsp;<span>#TouchNavigation</span>&nbsp;<span>#2DNavigation</span>&nbsp;<span>#HorizontalNavigation</span><br/>
			We use drag and drop navigation to simulate the touch navigation used by the iphone or other touch devices.<br/>
			We create a layer effect.<br/>
			</p>
		</div>
		<div class="interactionImageContainer">
			<div class="interactionImage">
				<div class="layerButtonContainer">
					<a href="#" class="eventLayer">Events</a>|<a href="#" class="actionLayer">Actions</a>
				</div>
				<a class="chulakovLink" href="#21"><img src="/images/chulakov/web/21/21.jpg"	/><img class="layerEvent layer" src="/images/chulakov/web/21/21.0.jpg"	/><img class="layerAction layer" src="/images/chulakov/web/21/21.1.jpg"	/></a>
			</div>
			<p class="interactionParagraph">
			<span>#LayerEffect</span>&nbsp;<span>#DragAndDrop</span>&nbsp;<span>#TouchNavigation</span>&nbsp;<span>#2DNavigation</span>&nbsp;<span>#VerticalNavigation</span>&nbsp;<span>#SmoothTransition</span>&nbsp;<span>#Preloading</span><br/>
			We use drag and drop navigation to simulate the touch navigation used by the iphone or other touch devices.<br/>
			We create a layer effect.<br/>
			If the content is not already loaded we stop, show a waiting screen, and load the content.<br/>
			After the content is loaded we automatically make the transition to the new page with a slide effect.
			</p>
		</div>
		<div class="interactionImageContainer">
		<div class="interactionImage">
				<div class="layerButtonContainer">
					<a href="#" class="eventLayer">Events</a>|<a href="#" class="actionLayer">Actions</a>
				</div>
			<a class="chulakovLink" href="#22"><img src="/images/chulakov/web/22/22.jpg"	/><img class="layerEvent layer" src="/images/chulakov/web/22/22.0.jpg"	/><img class="layerAction layer" src="/images/chulakov/web/22/22.1.jpg" />
		</a></div>
		
		<p class="interactionParagraph">
		<span>#DragAndDrop</span>&nbsp;<span>#TouchNavigation</span>&nbsp;<span>#2DNavigation</span>&nbsp;<span>#VerticalNavigation</span>&nbsp;<span>#SmoothTransition</span><br/>
		We use drag and drop navigation to simulate the touch navigation used by the iphone or other touch devices.<br/>
		We create a layer effect.<br/>
		If the content is  already loaded we continue with the drag and drop effect<br/>
		After the content is loaded we automatically make the transition to the new page with a slide effect.
		</p>
		</div>
		<div class="interactionImageContainer">
		<div class="interactionImage">
				<div class="layerButtonContainer">
					<a href="#" class="eventLayer">Events</a>|<a href="#" class="actionLayer">Actions</a>
				</div>
			<a class="chulakovLink" href="#23"><img src="/images/chulakov/web/23/23.jpg"	/><img class="layerEvent layer" src="/images/chulakov/web/23/23.0.jpg"	/><img class="layerAction layer" src="/images/chulakov/web/23/23.1.jpg"	/>
		</a></div>
		<p class="interactionParagraph">
		<span>#DragAndDrop</span>&nbsp;<span>#TouchNavigation</span>&nbsp;<span>#2DNavigation</span>&nbsp;<span>#VerticalNavigation</span>&nbsp;<span>#SmoothTransition</span><br/>
		We use drag and drop navigation to simulate the touch navigation used by the iphone or other touch devices.<br/>
		We create a layer effect.<br/>
		If the content is  already loaded we continue with the drag and drop effect<br/>
		After the content is loaded we automatically make the transition to the new page with a slide effect.<br/>
		Back navigation with drag and drop too.
		</p>
		</div>
		<div class="interactionImageContainer">
		<div class="interactionImage">
			<div class="layerButtonContainer">
					<a href="#" class="eventLayer">Events</a>|<a href="#" class="actionLayer">Actions</a>
			</div>
			<a class="chulakovLink" href="#24"><img src="/images/chulakov/web/24/24.jpg"	/><img class="layerEvent layer" src="/images/chulakov/web/24/24.0.jpg"/><img class="layerAction layer" src="/images/chulakov/web/24/24.1.jpg"/>
		</a></div>
		<p class="interactionParagraph">
		<span>#2DNavigation</span>&nbsp;<span>#VerticalNavigation</span>&nbsp;<span>#SmoothTransition</span>&nbsp;<span>#Preloading</span><br/>
		We use the buttons to preload the content of the section, for the second content of a section.<br/>
		If the content is  already loaded we show the content.<br/>
		After the content is loaded, or if it is already loaded we automatically make the transition to the new page with a slide effect.
		</p>
		</div>
		<div class="interactionImageContainer">
		<div class="interactionImage">
			<div class="layerButtonContainer">
					<a href="#" class="eventLayer">Events</a>|<a href="#" class="actionLayer">Actions</a>
			</div>
			<a class="chulakovLink" href="#25"><img src="/images/chulakov/web/25/25.jpg"	/><img class="layerEvent layer" src="/images/chulakov/web/25/25.0.jpg"	/><img class="layerAction layer" src="/images/chulakov/web/25/25.1.jpg"	/>
		</a></div>
		<p class="interactionParagraph">
		<span>#BackgroundAnimation</span>&nbsp;<span>#HoverEffect</span>&nbsp;<br/>
		We make an effect of motion in the background, motion of the buildings based on the hover of the mouse.
		</p>
		</div>
		<div class="interactionImageContainer">
		<div class="interactionImageContainer">
			<div class="interactionImage"><div class="layerButtonContainer">
					<a href="#" class="eventLayer">Events</a>|<a href="#" class="actionLayer">Actions</a>
				</div>
			<a class="chulakovLink" href="#26"><img src="/images/chulakov/web/26/26.jpg"	/><img class="layerEvent layer" src="/images/chulakov/web/26/26.0.jpg"	usemap="#26	"><img class="layerAction layer" src="/images/chulakov/web/26/26.1.jpg"	/>
			</a>
		</div>
		<p class="interactionParagraph">
		<span>#IconAnimation</span>&nbsp;<span>#DrawingAnimation</span><br/>
		We created a drawing animation effect to show the sketch and the final icon.
		</p>
		</div>
		
		
		
		
		
	</div>
	<div class="footer">
	
	</div>
</div>



</body>
</html> 