 <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>NXGallery</title>
</head>

<body ng-app>
<div class="mainContainer">
	<div class="header">
		<div class="logoContainer">
		<a href="/user/home">
		<img src="/images/logo1.png"/>
		</a>
		</div>
	</div>
	<div class="content">
	<div class="deviceButtons">
	<a href="/user/chulakov"><img src="/images/design/Computer.jpg"/></a>
	<a href="/user/chulakovMov"><img src="/images/design/PhoneSelected.jpg"/></a>
	</div>
		<div class="MobileSiteFirstItem">
			<img src="/images/chulakov/mob/1/screen1Iphone1.jpg"/>
		</div>
		<br /><br />
		<div class="interactionImageMob">
			<a class="chulakovLink" href="#1">
			<img src="/images/chulakov/mob/1/1.0.jpg">
			</a>
			<a class="chulakovLink" href="#1">
			<img src="/images/chulakov/mob/1/1.1.jpg">
			</a>
		</div>
		
		<p class="interactionParagraph">
		<span>#BackgroundVideo</span><br/>
		This page presents a background video which shows some interaction in our website.
		</p>
		<br /><br />
		<div class="interactionImageMob">
			<a class="chulakovLink" href="#2">
			<img src="/images/chulakov/mob/2/2.0.jpg">
			</a>
			<a class="chulakovLink" href="#2">
			<img src="/images/chulakov/mob/2/2.1.jpg">
			</a>
		</div>
		
		<p class="interactionParagraph">
		<span>#BackgroundVideo</span><br/>
		This page presents a background video which shows some interaction in our website.
		</p>
		<br /><br />
		<div class="interactionImageMob">
			<a class="chulakovLink" href="#3">
			<img src="/images/chulakov/mob/3/3.0.jpg">
			</a>
			<a class="chulakovLink" href="#3">
			<img src="/images/chulakov/mob/3/3.1.jpg">
			</a>
		</div>
		
		<p class="interactionParagraph">
		<span>#BackgroundVideo</span><br/>
		This page presents a background video which shows some interaction in our website.
		</p>
		<br /><br />
		<div class="interactionImageMob">
			<a class="chulakovLink" href="#4">
			<img src="/images/chulakov/mob/4/4.0.jpg">
			</a>
			<a class="chulakovLink" href="#4">
			<img src="/images/chulakov/mob/4/4.1.jpg">
			</a>
		</div>
		
		<p class="interactionParagraph">
		<span>#BackgroundVideo</span><br/>
		This page presents a background video which shows some interaction in our website.
		</p>
		<br /><br />
		<div class="interactionImageMob">
			<a class="chulakovLink" href="#5">
			<img src="/images/chulakov/mob/5/5.0.jpg">
			</a>
			<a class="chulakovLink" href="#5">
			<img src="/images/chulakov/mob/5/5.1.jpg">
			</a>
		</div>
		
		<p class="interactionParagraph">
		<span>#BackgroundVideo</span><br/>
		This page presents a background video which shows some interaction in our website.
		</p>
		<br /><br />
		<div class="interactionImageMob">
			<a class="chulakovLink" href="#6">
			<img src="/images/chulakov/mob/6/6.0.jpg">
			</a>
			<a class="chulakovLink" href="#6">
			<img src="/images/chulakov/mob/6/6.1.jpg">
			</a>
		</div>
		
		<p class="interactionParagraph">
		<span>#BackgroundVideo</span><br/>
		This page presents a background video which shows some interaction in our website.
		</p>
		<br /><br />
		<div class="interactionImageMob">
			<a class="chulakovLink" href="#7">
			<img src="/images/chulakov/mob/7/7.0.jpg">
			</a>
			<a class="chulakovLink" href="#7">
			<img src="/images/chulakov/mob/7/7.1.jpg">
			</a>
		</div>
		
		<p class="interactionParagraph">
		<span>#BackgroundVideo</span><br/>
		This page presents a background video which shows some interaction in our website.
		</p>
		<br /><br />
<div class="interactionImageMob">
			<a class="chulakovLink" href="#8">
			<img src="/images/chulakov/mob/8/8.0.jpg">
			</a>
			<a class="chulakovLink" href="#8">
			<img src="/images/chulakov/mob/8/8.1.jpg">
			</a>
		</div>
		
		<p class="interactionParagraph">
		<span>#BackgroundVideo</span><br/>
		This page presents a background video which shows some interaction in our website.
		</p>
		<br /><br />
<div class="interactionImageMob">
			<a class="chulakovLink" href="#9">
			<img src="/images/chulakov/mob/9/9.0.jpg">
			</a>
			<a class="chulakovLink" href="#9">
			<img src="/images/chulakov/mob/9/9.1.jpg">
			</a>
		</div>
		
		<p class="interactionParagraph">
		<span>#BackgroundVideo</span><br/>
		This page presents a background video which shows some interaction in our website.
		</p>
		<br /><br />
<div class="interactionImageMob">
			<a class="chulakovLink" href="#10">
			<img src="/images/chulakov/mob/10/10.0.jpg">
			</a>
			<a class="chulakovLink" href="#10">
			<img src="/images/chulakov/mob/10/10.1.jpg">
			</a>
		</div>
		
		<p class="interactionParagraph">
		<span>#BackgroundVideo</span><br/>
		This page presents a background video which shows some interaction in our website.
		</p>
		<br /><br />
		<div class="interactionImageMob">
			<a class="chulakovLink" href="#11">
			<img src="/images/chulakov/mob/11/11.0.jpg">
			</a>
			<a class="chulakovLink" href="#11">
			<img src="/images/chulakov/mob/11/11.1.jpg">
			</a>
		</div>
		
		<p class="interactionParagraph">
		<span>#BackgroundVideo</span><br/>
		This page presents a background video which shows some interaction in our website.
		</p>
		<br /><br />
<div class="interactionImageMob">
			<a class="chulakovLink" href="#12">
			<img src="/images/chulakov/mob/12/12.0.jpg">
			</a>
			<a class="chulakovLink" href="#12">
			<img src="/images/chulakov/mob/12/12.1.jpg">
			</a>
		</div>
		
		<p class="interactionParagraph">
		<span>#BackgroundVideo</span><br/>
		This page presents a background video which shows some interaction in our website.
		</p>
		<br /><br />
<div class="interactionImageMob">
			<a class="chulakovLink" href="#13">
			<img src="/images/chulakov/mob/13/13.0.jpg">
			</a>
		</div>
		
		<p class="interactionParagraph">
		<span>#BackgroundVideo</span><br/>
		This page presents a background video which shows some interaction in our website.
		</p>
		<br /><br />
<div class="interactionImageMob">
			<a class="chulakovLink" href="#14">
			<img src="/images/chulakov/mob/14/14.0.jpg">
			</a>
			<a class="chulakovLink" href="#14">
			<img src="/images/chulakov/mob/14/14.1.jpg">
			</a>
		</div>
		
		<p class="interactionParagraph">
		<span>#BackgroundVideo</span><br/>
		This page presents a background video which shows some interaction in our website.
		</p>
		<br /><br />
<div class="interactionImageMob">
			<a class="chulakovLink" href="#15">
			<img src="/images/chulakov/mob/15/15.0.jpg">
			</a>
			<a class="chulakovLink" href="#15">
			<img src="/images/chulakov/mob/15/15.1.jpg">
			</a>
			<a class="chulakovLink" href="#15">
			<img src="/images/chulakov/mob/15/15.2.jpg">
			</a>
		</div>
		
		<p class="interactionParagraph">
		<span>#BackgroundVideo</span><br/>
		This page presents a background video which shows some interaction in our website.
		</p>
		<br /><br />
		<div class="interactionImageMob">
			<a class="chulakovLink" href="#16">
			<img src="/images/chulakov/mob/16/16.0.jpg">
			</a>
		</div>
		
		<p class="interactionParagraph">
		<span>#BackgroundVideo</span><br/>
		This page presents a background video which shows some interaction in our website.
		</p>
		<br /><br />
		<div class="interactionImageMob">
			<a class="chulakovLink" href="#17">
			<img src="/images/chulakov/mob/17/17.0.jpg">
			</a>
			<a class="chulakovLink" href="#17">
			<img src="/images/chulakov/mob/17/17.1.jpg">
			</a>
		</div>
		
		<p class="interactionParagraph">
		<span>#BackgroundVideo</span><br/>
		This page presents a background video which shows some interaction in our website.
		</p>
		<br /><br />
		
		
		
		
	</div>
	<div class="footer">
	
	</div>
</div>


<div id="hC1" class="hiddenCommentary">
	<h4>#Overlay #SlowSlide</h4>
	<p>
	Overlay effect with a slow slide
	</p>
</div>
<div id="hC4" class="hiddenCommentary">
	<h4>#Parallax #IncreaseHover</h4>
	<p>
	Parallax with scroll
	</p>
</div>
<div id="hC5" class="hiddenCommentary">
	<h4>#Parallax #IncreaseHover</h4>
	<p>
	Vertical position of the page with parallax
	</p>
</div>
<div id="hC6" class="hiddenCommentary">
	<h4>#SlowSlide</h4>
	<p>
	Slow Slide menu
	</p>
</div>
<div id="hC7" class="hiddenCommentary">
	<h4>#Overlay #SlowSlide</h4>
	<p>
	Overlay effect with a slow slide
	</p>
</div>
<div id="hC8" class="hiddenCommentary">
	<h4>#Navigation #SlowSlide</h4>
	<p>
	Navigation with slide effect
	</p>
</div>
<div id="hC2" class="hiddenCommentary">
	<h4>#FullScreen #BiggerImage</h4>
	<p>
	Navigation with slide effect
	</p>
</div>
<div id="hC2a" class="hiddenCommentary">
	<h4>#FullScreen #BiggerImage</h4>
	<p>
	Navigation with slide effect
	</p>
</div>
<div id="hC3" class="hiddenCommentary">
	<h4>#NavigateImage</h4>
	<p>
	Navigation through the loaded image
	</p>
</div>
<div id="hC9" class="hiddenCommentary">
	<h4>#Slide</h4>
	<p>
	Hidden Content
	</p>
</div>
<div id="hC10" class="hiddenCommentary">
	<h4>#IncreaseHover</h4>
	<p>
	Increase menu when hover
	</p>
</div>
<div id="hC11" class="hiddenCommentary">
	<h4>#BackgroundVideo #VideoControl</h4>
	<p>
	Change the backgroundvideo with video control by years
	</p>
</div>
</body>
</html> 