 <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>NXGallery</title>
</head>

<body ng-app>
<div class="mainContainer">
	<div class="header">
		<div class="logoContainer">
		<a href="/user/home">
		<img src="/images/logo1.png"/>
		</a>
		</div>
	</div>
	<div class="content">
	<!--
	<div class="deviceButtons">
	<a href="/user/chulakov"><img src="/images/design/ComputerSelected.jpg"/></a>
	<a href="/user/chulakovMov"><img src="/images/design/Phone.jpg"/></a>
	</div>
	-->
		<div class="WebSiteFirstItem">
			<img src="/images/gDrive/1.0Drive.jpg"/>
		</div>
		<br /><br />
		
		<div class="interactionImage">
			<a class="gDriveLink" href="#3"><img src="/images/gDrive/1.1Drive.jpg"	usemap="#3">
		</a></div>
		<div class="interactionImage">
			<a class="gDriveLink" href="#3"><img src="/images/gDrive/1.2Drive.jpg"	usemap="#3">
		</a></div>
		<p class="interactionParagraph">
		<span>#ExternalDragAndDrop </span><br/>
		Drag and drop from files outside of the website, from file system to web browser
		</p>
		<br /><br />
		
		
		
		
		
		
		
	</div>
	<div class="footer">
	
	</div>
</div>


<div id="hC1" class="hiddenCommentary">
	<h4>#Overlay #SlowSlide</h4>
	<p>
	Overlay effect with a slow slide
	</p>
</div>
<div id="hC4" class="hiddenCommentary">
	<h4>#Parallax #IncreaseHover</h4>
	<p>
	Parallax with scroll
	</p>
</div>
<div id="hC5" class="hiddenCommentary">
	<h4>#Parallax #IncreaseHover</h4>
	<p>
	Vertical position of the page with parallax
	</p>
</div>
<div id="hC6" class="hiddenCommentary">
	<h4>#SlowSlide</h4>
	<p>
	Slow Slide menu
	</p>
</div>
<div id="hC7" class="hiddenCommentary">
	<h4>#Overlay #SlowSlide</h4>
	<p>
	Overlay effect with a slow slide
	</p>
</div>
<div id="hC8" class="hiddenCommentary">
	<h4>#Navigation #SlowSlide</h4>
	<p>
	Navigation with slide effect
	</p>
</div>
<div id="hC2" class="hiddenCommentary">
	<h4>#FullScreen #BiggerImage</h4>
	<p>
	Navigation with slide effect
	</p>
</div>
<div id="hC2a" class="hiddenCommentary">
	<h4>#FullScreen #BiggerImage</h4>
	<p>
	Navigation with slide effect
	</p>
</div>
<div id="hC3" class="hiddenCommentary">
	<h4>#NavigateImage</h4>
	<p>
	Navigation through the loaded image
	</p>
</div>
<div id="hC9" class="hiddenCommentary">
	<h4>#Slide</h4>
	<p>
	Hidden Content
	</p>
</div>
<div id="hC10" class="hiddenCommentary">
	<h4>#IncreaseHover</h4>
	<p>
	Increase menu when hover
	</p>
</div>
<div id="hC11" class="hiddenCommentary">
	<h4>#BackgroundVideo #VideoControl</h4>
	<p>
	Change the backgroundvideo with video control by years
	</p>
</div>
</body>
</html> 