	<div class="WebSiteFirstItem">
		<img src="/media/static/gDrive/1.0Drive.jpg"/>
	</div>
	<br /><br />
	
	<div class="interactionImage">
		<a class="gDriveLink" href="#3"><img src="/media/static/gDrive/1.1Drive.jpg"	usemap="#3">
	</a></div>
	<div class="interactionImage">
		<a class="gDriveLink" href="#3"><img src="/media/static/gDrive/1.2Drive.jpg"	usemap="#3">
	</a></div>
	<p class="interactionParagraph">
	<span>#ExternalDragAndDrop </span><br/>
	Drag and drop from files outside of the website, from file system to web browser
	</p>
	<br /><br />
		
		
		
		
		
		
		
	
	


