 <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>NXGallery</title>
</head>

<body ng-app>
<div class="mainContainer">
	<div class="header">
		<div class="logoContainer">
		<a href="/">
		<img src="/images/logo1.png"/>
		</a>
		</div>
	</div>
	<div class="content">
		<div class="WebSiteFirstItem">
		
		<a class="fancybox" href="/images/loisJeans/1Accion/1.jpg">
			<img src="/images/loisJeans/1Accion/1.jpg"/>
		</a>
		</div>
		
		
		<div class="interactionImage">
			<img src="/images/loisJeans/1Accion/1a.jpg"	usemap="#1">
		</div>
		<div class="interactionImage">
			<img src="/images/loisJeans/4Accion/4a.jpg"	usemap="#4">
		</div>
		<div class="interactionImage">
			<img src="/images/loisJeans/5Accion/5.jpg"	usemap="#5">
		</div>
		<div class="interactionImage">
			<img src="/images/loisJeans/6Accion/6a.jpg"	usemap="#6">
		</div>
		<div class="interactionImage">
			<img src="/images/loisJeans/7Accion/7a.jpg"	usemap="#7">
		</div>
		<div class="interactionImage">
			<img src="/images/loisJeans/2Accion/2.jpg" 	usemap="#2">
		</div>
		<div class="interactionImage">
			<img src="/images/loisJeans/2Accion/2a.jpg"	usemap="#2a">
		</div>
		
		<div class="interactionImage">
			<img src="/images/loisJeans/3Accion/3a.jpg"	usemap="#3">
		</div>
		<div class="imageHomeItem">
		
		<a class="fancybox" href="/images/loisJeans/1.jpg">
			<img src="/images/loisJeans/1.jpg"/>
		</a>
		</div>
		<div class="interactionImage">
			<img src="/images/loisJeans/8Accion/8a.jpg"	usemap="#8">
		</div>
		<div class="imageHomeItem">
		
		<a class="fancybox" href="/images/loisJeans/2.jpg">
			<img src="/images/loisJeans/2.jpg"/>
		</a>
		</div>
		<div class="interactionImage">
			<img src="/images/loisJeans/9Accion/9a.jpg"	usemap="#9">
		</div>
		<div class="imageHomeItem">
		
		<a class="fancybox" href="/images/loisJeans/3.jpg">
			<img src="/images/loisJeans/3.jpg"/>
		</a>
		</div>
		<div class="interactionImage">
			<img src="/images/loisJeans/10Accion/10a.jpg"	usemap="#10">
		</div>
		<div class="interactionImage">
			<img src="/images/loisJeans/11Accion/11a.jpg"	usemap="#11">
		</div>
		
		
	</div>
	<div class="footer">
	
	</div>
</div>
<map name="1">
	<area shape="rect"  coords="415,172,677,502" href="#">
</map>
<map  name="4">
	<area shape="rect"  coords="0,312,1365,631" href="#">
	<area shape="rect"  coords="0,120,154,259" href="#">
	<area shape="rect"  coords="1310,128,1365,249" href="#">
	<area shape="rect"  coords="491,141,519,228" href="#">
	<area shape="rect"  coords="491,141,519,228" href="#">
	<area shape="rect"  coords="754,189,784,261" href="#">
	<area shape="rect"  coords="755,75,780,131" href="#">
</map>
<map name="5">
	<area shape="rect"  coords="1,79,1364,592" href="#">
	
</map>
<map name="6">
	<area shape="rect"  coords="166,6,206,61" href="#">
	<area shape="rect"  coords="73,60,355,240" href="#">
</map>
<map name="7">
	<area shape="rect"  coords="70,94,292,148" href="#">
</map>
<map name="8">
	<area shape="rect"  coords="250,15,292,64" href="#">
	<area shape="rect"  coords="4,57,1364,609" href="#">
</map>
<map name="2">
	<area shape="rect"  coords="506,222,580,294" href="#">
</map>
<map name="2a">
	<area shape="rect"  coords="6,4,1364,628" href="#">
</map>
<map name="3">
	<area shape="rect"  coords="830,117,893,210" href="#">
</map>
<map name="9">
	<area shape="rect"  coords="22,150,844,505" href="#">
	<area shape="rect"  coords="71,534,175,585" href="#">
</map>
<map name="10">
	<area shape="rect"  coords="0,109,163,490" href="#">
</map>
<map name="11">
	<area shape="rect"  coords="0,241,727,391" href="#">
	<area shape="rect"  coords="769,282,868,349" href="#">
</map>

<div id="hC1" class="hiddenCommentary">
	<h4>#Overlay #SlowSlide</h4>
	<p>
	Overlay effect with a slow slide
	</p>
</div>
<div id="hC4" class="hiddenCommentary">
	<h4>#Parallax #IncreaseHover</h4>
	<p>
	Parallax with scroll
	</p>
</div>
<div id="hC5" class="hiddenCommentary">
	<h4>#Parallax #IncreaseHover</h4>
	<p>
	Vertical position of the page with parallax
	</p>
</div>
<div id="hC6" class="hiddenCommentary">
	<h4>#SlowSlide</h4>
	<p>
	Slow Slide menu
	</p>
</div>
<div id="hC7" class="hiddenCommentary">
	<h4>#Overlay #SlowSlide</h4>
	<p>
	Overlay effect with a slow slide
	</p>
</div>
<div id="hC8" class="hiddenCommentary">
	<h4>#Navigation #SlowSlide</h4>
	<p>
	Navigation with slide effect
	</p>
</div>
<div id="hC2" class="hiddenCommentary">
	<h4>#FullScreen #BiggerImage</h4>
	<p>
	Navigation with slide effect
	</p>
</div>
<div id="hC2a" class="hiddenCommentary">
	<h4>#FullScreen #BiggerImage</h4>
	<p>
	Navigation with slide effect
	</p>
</div>
<div id="hC3" class="hiddenCommentary">
	<h4>#NavigateImage</h4>
	<p>
	Navigation through the loaded image
	</p>
</div>
<div id="hC9" class="hiddenCommentary">
	<h4>#Slide</h4>
	<p>
	Hidden Content
	</p>
</div>
<div id="hC10" class="hiddenCommentary">
	<h4>#IncreaseHover</h4>
	<p>
	Increase menu when hover
	</p>
</div>
<div id="hC11" class="hiddenCommentary">
	<h4>#BackgroundVideo #VideoControl</h4>
	<p>
	Change the backgroundvideo with video control by years
	</p>
</div>
</body>
</html> 