@-webkit-keyframes bounceH {
  0% {
    -webkit-transform:translateX(-3%);
    
  }
  5% {
    -webkit-transform:translateX(-3%);
  }
  15% {
    -webkit-transform:translateX(0);
    padding-right: 5px;
  }
  30% {
    transform:translateX(-2%);
  }
  40% {
    -webkit-transform:translateX(0%);
    padding-right: 6px;
  }
  50% {
    -webkit-transform:translateX(-1%);
  }
  70% {
    -webkit-transform:translateX(0%);
    padding-right: 7px;
  }
  80% {
    -webkit-transform:translateX(-1%);
  }
  90% {
    -webkit-transform:translateX(0%);
    padding-right: 8px;
  }
  /*
  95% {
    -webkit-transform:translateX(-1%);
  }
  97% {
    -webkit-transform:translateX(0%);
    padding-right: 9px;
  }
  99% {
    -webkit-transform:translateX(-1%);
  }
  */
  100% {
    -webkit-transform:translateX(0);
    padding-right: 9px;
  }
}
@-moz-keyframes bounceH {
  0% {
  -moz-transform:translateX(-3%);
    
  }
  5% {
    -moz-transform:translateX(-3%);
  }
  15% {
    -moz-transform:translateX(0);
    padding-right: 5px;
  }
  30% {
    -moz-transform:translateX(-2%);
  }
  40% {
    -moz-transform:translateX(0%);
    padding-right: 6px;
  }
  50% {
    -moz-transform:translateX(-1%);
  }
  70% {
    -moz-transform:translateX(0%);
    padding-right: 7px;
  }
  80% {
    -moz-transform:translateX(-1%);
  }
  90% {
    -moz-transform:translateX(0%);
    padding-right: 8px;
  }
  /*
  95% {
    -moz-transform:translateX(-1%);
  }
  97% {
    -moz-transform:translateX(0%);
    padding-right: 9px;
  }
  99% {
    -moz-transform:translateX(-1%);
  }
  */
  100% {
    -moz-transform:translateX(0);
    padding-right: 9px;
  }
}
@-o-keyframes bounceH {
  0% {
    -o-transform:translateX(-3%);
    
  }
  5% {
    -o-transform:translateX(-3%);
  }
  15% {
    -o-transform:translateX(0);
    padding-right: 5px;
  }
  30% {
    -o-transform:translateX(-2%);
  }
  40% {
    -o-transform:translateX(0%);
    padding-right: 6px;
  }
  50% {
    -o-transform:translateX(-1%);
  }
  70% {
    -o-transform:translateX(0%);
    padding-right: 7px;
  }
  80% {
    -o-transform:translateX(-1%);
  }
  90% {
    -o-transform:translateX(0%);
    padding-right: 8px;
  }
  /*
  95% {
    -o-transform:translateX(-1%);
  }
  97% {
    -o-transform:translateX(0%);
    padding-right: 9px;
  }
  99% {
    -o-transform:translateX(-1%);
  }
  */
  100% {
    -o-transform:translateX(0);
    padding-right: 9px;
  }
}

@keyframes bounceH {
  0% {
	transform:translateX(-3%);
    
  }
  5% {
  	transform:translateX(-3%);
  }
  15% {
  	transform:translateX(0);
    padding-right: 5px;
  }
  30% {
  	transform:translateX(-2%);
  }
  40% {
  	transform:translateX(0%);
    padding-right: 6px;
  }
  50% {
  	transform:translateX(-1%);
  }
  70% {
  	transform:translateX(0%);
    padding-right: 7px;
  }
  80% {
  	transform:translateX(-1%);
  }
  90% {
  	transform:translateX(0%);
  	padding-right: 8px;
  }
  /*
  95% {
  	transform:translateX(-1%);
  }
  97% {
  	transform:translateX(0%);
  	padding-right: 9px;
  }
  99% {
  	transform:translateX(-1%);
  }
  */
  100% {
  	transform:translateX(0);
  	padding-right: 9px;
  }
}