body{
	background-color:#f5f5f5;
	text-align:center;
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	font-family:Comic Sans MS;
	color:#474747;
}
h4 {
	font-family:Comic Sans MS;
	background-color:ff0000;
	font-size:15px;

}
a  img{
	
	padding:0px;
	margin:0px;
	text-decoration:none;
}
a{
 text-decoration:none;
}
img{
	margin:0px;
	padding:0px;
	
}
/** Utils **/
.clear{
	clear:both;
}
.blur{
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);

}
/**  Layout **/

.mainContainer{
	width: 100%;
	height:100%;
	display:block;
	margin: 0px auto;
}

.header{
	width:100%;
	background-color: #c5142e;
	text-align:left;
}
.logoContainer{
	margin: 8px 0px 8px 35px;
	padding: 0px;
	display: inline-block;
}
.logoContainer a{
	display: inline-block;
	padding-top:5px;
}
.logoContainer img{
	width:83px;
	margin: 0px;
	padding: 0px;
}
.searchForm{
	float: right;
	display: inline-block;
	margin: 0px 10px 0px 0px;
	vertical-align: top;
}
.searchForm form{
	float: left;
	display: inline-block;
	margin-top: 5px;
}
.searchForm input[type=text]{
	height:25px;
	border: none;
	width: 183px;
	margin-top: 0px;
	padding: 5px;
	display: inline-block;
	font-family:Comic Sans MS;
	color: #666666;
}

.searchForm  input[type=text].searching{
	color:#000000;
}
.searchForm  a{
	display: block;
	margin:0px;
	float: left;
	padding: 6px;
	height: 36px;
	cursor: pointer;
	margin-left: 2px;
}
.searchForm  a:hover,.searchForm  a:focus{
	background-color: #fe5c5c;
}
.searchForm img{
	height:36px;
}
.content{
	width:100%;
	font-family:'Comic Sans MS';
	text-align:center;
}
.content img{
 max-width:100%;
}
.footer{
	width:100%;
}
.referenceLink{
	color:#ffffff;
	font-size: 14px;
	text-align: right;
	float: right;
	padding-top: 10px;
}


/**** All  ****/
/***************/
.contentMainContainer{
	width:90%;
	margin:0px  auto;
	max-width: 1230px;
}
.bounceV{
	/*
	-webkit-animation: bounceV 0.8s ease-out;
	animation: bounceV 0.8s ease-out;
	*/
}
/** Home page **/
/***************/
ul.listHome{
	list-style-type: none;
	display: block;
	clear: both;
}
ul.listHome::after{
	clear: both;
    content: "";
    display: block;
}
ul.listHome li{
	width: 50%;
	margin:0px;
	padding:10px 10px 18px 10px;
	float: left;
	box-sizing: border-box;
}
.divItemTextHome p{
	text-align: left;
	font-size: 13px;
	margin: 0px auto 3px auto;
}
.divItemTextHome h3{
	font-size: 15px;
	text-align: left;
	margin: 0px auto 0px auto;
	color:#474747;
}
.divItemTextHome h3 a{
	color:#474747;
}
.divItemTextHome a{
	color:#c5142e;
	font-weight: bold;
}
.divItemTextHome span{
	font-weight: bold;
}
a.imgContainerHome{
	width:567px;
	height:263px;
	position: relative;
	display:block;

}
a.imgContainerHome img{
	position:absolute;
	top:0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
/** Interactions page **/
/***********************/
.interactionsMainContainer{
	text-align: center;
	display: inline-block;
}
ul.listInteractions{
	list-style-type: none;
	width:1000px;
	display: block;
	clear: both;
	padding: 0px;
	margin: 0px auto;
}
ul.listInteractions::after{
	clear: both;
    content: "";
    display: block;
}
ul.listInteractions li{
	width:100%;
	margin:0px;
	padding:20px 0px;
	float: left;
	box-sizing: border-box;
}


.interactionsMainContainer h1{
	text-align: left;margin-left: 10px;
	margin: 0px 10px 3px 10px;
	font-size: 25px;
	display: inline-block;
	width: auto;
	float: left;
}
.interactionsMainContainer h1 a{
	height: 25px;
	width: 25px;
	margin-left: 5px;
	background-image: url('/images/dynamic/icons/url.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
	display: block;
	float: right;
}
.interactionsMainContainer h1 a:hover{
	background-position: 0px -25px;
}
.interactionsMainContainer h2{
	text-align: left;
	margin: 0px 10px 3px 10px;
	font-size: 15px;
}
.interactionsMainContainer h2 span{
	font-weight: normal;
}
.interactionsMainContainer p{
	text-align: left;
	margin:0px;
	margin-left: 10px; 
	font-size: 13px;
}
.interactionsMainContainer span.date{
	font-size: 13px;
	text-align: left;
	margin-left: 10px;
	margin-top:15px;
	font-size: 12px;	
	float: left;
}
.interactionsMainContainer p.allHashtags{
	padding-top: 10px;
	line-height: 30px;
}
.interactionsMainContainer p.allHashtags span{
	background-color: #c5142e;
	color:#ffffff;
	padding:5px;
	border-radius: 5px;
}
.interactionsMainContainer p.interactionHashtags{
	padding-top: 4px;
	padding-bottom: 0px;
	font-size: 12px;
	line-height: 30px;
}
.interactionsMainContainer p.interactionHashtags span{
	background-color: #c5142e;
	color:#ffffff;
	padding:5px;
	border-radius: 5px;
}
.textContItemInteraction
{
	width:100%;
	float: left;
	box-sizing: border-box;
	display: block;
	user-select: none;
	-webkit-user-select: none;
}
.timelineContainer .layerButton{
	margin: 4px;
	padding: 6px;
	display: block;
	border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 4px 0 15px #dddddd;
	font-size: 13px;
	color:#313131;
	word-wrap: break-word;
	text-align: left;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	float: left;
	width:85px;
	height:39px;
	position: relative;
}
.timelineContainer  .layerButton img{
	position: absolute;
	height:39px;
}
/*
.timelineContainer .layerButton span{
	background-image:url('/images/static/icons/eyeIcon.png');
	width:37px;
	margin-right: 5px;
	display: inline-block;
	background-repeat: no-repeat;
	opacity: 0.2;
	padding: 1px;
	
}
*/
.imgContItemInteraction{
	display: block;
	padding: 0px 0px;
	margin-right: 5px;
	background:url(data:image/gif;base64,R0lGODlhFAAUAIAAAMDAwP///yH5BAEAAAEALAAAAAAUABQAAAImhI+pwe3vAJxQ0hssnnq/7jVgmJGfGaGiyoyh68GbjNGXTeEcGxQAOw==) 
				repeat scroll 0 0 rgba(0, 0, 0, 0);
	width:1000px;
	height:633px;
	position: relative;
	cursor: pointer;
}
.imgContItemInteraction img{
	height:100%;
	display:none;
	position:absolute;
	top:0px;
	left:0px;

	opacity: 1;
	transition:all 0.4s ease-in-out;
	/*transform:scale(2.5) perspective(10px) rotateY(45deg);*/
	/*transform:scale(2.5);*/
	background:url(data:image/gif;base64,R0lGODlhFAAUAIAAAMDAwP///yH5BAEAAAEALAAAAAAUABQAAAImhI+pwe3vAJxQ0hssnnq/7jVgmJGfGaGiyoyh68GbjNGXTeEcGxQAOw==) 
	repeat scroll 0 0 rgba(0, 0, 0, 0);
	-webkit-filter: blur(5px);
	filter:  blur(5px);
	z-index: 10;
}
.imgContItemInteraction img.show{
	display: block;
	box-shadow: 5px 5px 1px #eeeeee;
	
}
.imgContItemInteraction img.scaleEffect{
	transform:scale(1);
	-webkit-filter: blur(0px);
	filter:  blur(0px);
	z-index: 1;	
}
.imgContItemInteraction img.backgroundReset{
	background: none;
}
.timelineContainer .show span{
	opacity: 1;
}
.imgContItemInteraction img.blurBelow{
	-webkit-filter: blur(3px);
	filter:  blur(3px);
}
.slidebar{
	
	float: left;
}
.timelineContainer{
	margin-top:5px;
	
}
.visitWebsiteContainer{
	border: solid 1px #474747;
	display: inline-block;
	padding: 25px;
	border-radius: 5px;
	margin-bottom: 30px;
	line-height: 25px;
}
.visitWebsiteContainer a{
	height: 25px;
	margin-left: 5px;
	background-image: url('/images/dynamic/icons/url.png');
	background-position: 159px -25px;
	background-repeat: no-repeat;
	display: block;
	padding-right: 33px;
	font-size: 25px;
	color: #474747;

}
.visitWebsiteContainer a:hover{
	background-position: 159px 0px;
}
/** Search results page **/
/***********************/
.searchMessageResultsContainer{
	margin-left: 50px;
	text-align: left;
}
.searchMessageResultsContainer h2{
	font-size: 25px;
    text-align: left;
    margin-bottom: 0px;
}
.searchMessageResultsContainer p{
	margin-top: 0px;
}
.searchMessageResultsContainer p span{
	font-weight: bold;
	color:#000000;
}